In [ ]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv",sep="\t")

In [ ]:
#2번
data1 = pd.DataFrame(data)
ans = data1.head(5)
print(ans)

In [ ]:
print(data.shape)
print(data.columns)
print(data.columns[5])

In [ ]:
print(data.iloc[:,5].dtype)
print(data.iloc[2,5])

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
data = pd.read_csv(DataUrl,encoding='euc-kr')

In [ ]:
print(data.tail(3))

In [ ]:
print(data.info())
print(data.describe())

In [ ]:
print(data['거주인구'])

In [ ]:
print(data['평균 속도'].describe())
print(49.105000-34.250000)

In [ ]:
print(data['읍면동명'].describe()['unique'])
print(data['읍면동명'].unique())

In [ ]:
url = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
data = pd.read_csv(url)

In [ ]:
print(data[data['quantity'] == 3].head(5))

In [ ]:
ans = data[data['quantity'] == 3].head(5)
ans = ans.reset_index(drop= True)
print(ans)

In [ ]:
ans = data[['quantity','item_name']]
print(ans)

In [ ]:
data['new_price'] = data['item_price'].str[1:].astype('float')
print(data['new_price'])

In [ ]:
print(data[data['new_price'] <= 5]['new_price'].count())

In [ ]:
ans = data[data['item_name'] == 'Chicken Salad Bowl']
ans = ans.reset_index(drop = True)
print(ans)

In [ ]:
ans = data[data['new_price'] <= 9][data['item_name'] == 'Chicken Salad Bowl']
print(ans)

In [ ]:
ans = data
ans = ans.sort_values('new_price').reset_index(drop = True)
print(ans)

In [ ]:
ans = data[data['item_name'].str.contains('Chips')]
print(ans)

In [ ]:
ans = data.iloc[:,::2]
print(ans)

In [ ]:
ans = data.sort_values('new_price')[::-1].reset_index(drop = True)
print(ans)

In [ ]:
ans = data[(data['item_name'] == 'Steak Salad') | (data['item_name'] == 'Bowl')]
print(ans.drop_duplicates('item_name'))

In [ ]:
ans = data[(data['item_name'] == 'Steak Salad') | (data['item_name'] == 'Bowl')][::-1]
print(ans.drop_duplicates('item_name')[::-1])

In [ ]:
ans = data[data['new_price'] >= np.mean(data['new_price'])]
print(ans)

In [ ]:
url = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
data = pd.read_csv(url)
data.loc[data.item_name == 'Izze','item_name'] = 'Fizzy Lizzy'
print(data)

In [ ]:
data['choice_description'].isnull().sum()
data.loc[data['choice_description'].isnull(),'choice_description'] = 'NoData'
print(data)

In [ ]:
ans = data[data.choice_description.str.contains('Black')]
print(ans)

In [ ]:
ans = data[data.choice_description.str.contains(' Vegetables')].count()
print(len(data)- ans['choice_description'])

In [ ]:
ans = data[data. item_name.str[0] == 'N']
print(ans)

In [ ]:
ans = data[data['item_name'].str.len() >=15]
print(ans)

In [ ]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
print(data.new_price.isin(lst).sum())

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'
data = pd.read_csv(DataUrl)
data = pd.DataFrame(data)

In [ ]:
data

In [ ]:
type(data)
print(data.head(5))

In [ ]:
print(data.groupby('host_name').size().head(5))

In [ ]:
ans = data.groupby('host_name').size().sort_values().to_frame().rename(columns={0:'counts'}).sort_values('counts',ascending = False)
print(ans)

In [ ]:
ans = data.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()
print(ans)

In [ ]:
ans = data.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size().groupby(['neighbourhood_group'], as_index=False).max()
print(ans)

In [ ]:
ans = data[['neighbourhood_group','price']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
print(ans)

In [ ]:
ans = data[['neighbourhood_group','reviews_per_month']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
print(ans)

In [ ]:
ans = data.groupby(['neighbourhood','neighbourhood_group']).price.mean()
print(ans)

In [ ]:
ans = data.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack()
print(ans)

In [ ]:
ans = data.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack().fillna(-999)
print(ans)

In [ ]:
ans = data[data['neighbourhood_group'] == 'Queens'].groupby(['neighbourhood']).price.agg(['mean','var','max','min'])
print(ans)

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
data = pd.DataFrame(pd.read_csv(DataUrl))

In [ ]:
dict0 = {
'Unknown'        : 'N',
'Less than $40K' : 'a',
'$40K - $60K'    : 'b',
'$60K - $80K'    : 'c',
'$80K - $120K'   : 'd',
'$120K +'        : 'e'
}
data['newIncome'] = data.Income_Category.map(lambda x: dict0[x])
ans = data['newIncome']
print(ans)

In [ ]:
def change(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':   
        return 'b'
    elif x =='$60K - $80K':    
        return 'c'
    elif x =='$80K - $120K':   
        return 'd'
    elif x =='$120K +' :     
        return 'e'
data['newincome'] = data.Income_Category.apply(change)
ans = data['newincome']
print(ans)

In [ ]:
def new_age(x):
    if 0 <= x < 10:
        return '0'
    elif 10 <= x < 20:
        return '10'
    elif 20 <= x < 30:
        return '20'
    elif 30 <= x < 40:
        return '30'
    elif 40 <= x < 50:
        return '40'
    elif 50 <= x < 60:
        return '50'
    elif 60 <= x < 70:
        return '60'
    elif 70 <= x < 80:
        return '70'

data['AgeState'] = data['Customer_Age'].apply(new_age)
ans = data['AgeState'].value_counts().sort_index()
print(ans)

In [ ]:
data['newEduLevel'] = data.Education_Level.map(lambda x: 1 if 'Graduate' in x else 0)
ans = data['newEduLevel'].value_counts()
print(ans)

In [ ]:
data['newLimit'] = data.Credit_Limit.map(lambda x: 1 if x>= 4500 else 0)
ans = data['newLimit'].value_counts()
print(ans)

In [ ]:
def check(x):
    if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum' :
        return 1
    else: 
        return 0

data['newState'] = data.apply(check,axis=1)
ans = data['newState'].value_counts()
print(ans)

In [ ]:
def gen(x):
    if x.Gender == 'M':
        return 'male'
    else:
        return 'female'
    
data['Gender'] = data.apply(gen,axis = 1)
ans = data['Gender'].value_counts()
print(ans)

In [4]:
import pandas as pd
import numpy as np

In [54]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'

data = pd.DataFrame(pd.read_csv(DataUrl))
print(data.shape)
print(data)

(6574, 13)
        Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA    BIR    DUB    CLA  \
0     2061-01-01  15.04  14.96  13.17   9.29    NaN   9.87  13.67  10.25
1     2061-01-02  14.71    NaN  10.83   6.50  12.62   7.67  11.50  10.04
2     2061-01-03  18.50  16.88  12.33  10.13  11.17   6.17  11.25    NaN
3     2061-01-04  10.58   6.63  11.75   4.58   4.54   2.88   8.63   1.79
4     2061-01-05  13.33  13.25  11.42   6.17  10.71   8.21  11.92   6.54
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
6569  1978-12-27  17.58  16.96  17.62   8.08  13.21  11.67  14.46  15.59
6570  1978-12-28  13.21   5.46  13.46   5.00   8.12   9.42  14.33  16.25
6571  1978-12-29  14.00  10.29  14.42   8.71   9.71  10.54  19.17  12.46
6572  1978-12-30  18.50  14.04  21.29   9.13  12.75   9.71  18.08  12.87
6573  1978-12-31  20.33  17.41  27.29   9.59  12.08  10.13  19.25  11.63

        MUL    CLO    BEL    MAL
0     10.83  12.58  18.50  15.04
1      9.79   9.67  17.54  13.83
2      8.50   7.67  12.75  12.71
3      5.83   5.88   5.46  10.88
4     10.92  10.34  12.92  11.83
...     ...    ...    ...    ...
6569  14.04  14.00  17.21  40.08
6570  15.25  18.05  21.79  41.46
6571  14.50  16.42  18.88  29.58
6572  12.46  12.12  14.67  28.79
6573  11.58  11.38  12.08  22.08

[6574 rows x 13 columns]

In [55]:
print(data.info())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB
None
Yr_Mo_Dy    0
RPT         6
VAL         3
ROS         2
KIL         5
SHA         2
BIR         0
DUB         3
CLA         2
MUL         3
CLO         1
BEL         0
MAL         4
dtype: int64

In [56]:
data.Yr_Mo_Dy = pd.to_datetime(data.Yr_Mo_Dy)
print(data['Yr_Mo_Dy'])
ans = data.Yr_Mo_Dy.dt.year.unique()

0      2061-01-01
1      2061-01-02
2      2061-01-03
3      2061-01-04
4      2061-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

In [57]:
def fix_century(x):
    import datetime
    
    if x.year >= 2061:
        year = x.year - 100
    else: 
        year = x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))


data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

print(data)

       Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA    BIR    DUB    CLA  \
0    1961-01-01  15.04  14.96  13.17   9.29    NaN   9.87  13.67  10.25
1    1961-01-02  14.71    NaN  10.83   6.50  12.62   7.67  11.50  10.04
2    1961-01-03  18.50  16.88  12.33  10.13  11.17   6.17  11.25    NaN
3    1961-01-04  10.58   6.63  11.75   4.58   4.54   2.88   8.63   1.79
4    1961-01-05  13.33  13.25  11.42   6.17  10.71   8.21  11.92   6.54
...         ...    ...    ...    ...    ...    ...    ...    ...    ...
6569 1978-12-27  17.58  16.96  17.62   8.08  13.21  11.67  14.46  15.59
6570 1978-12-28  13.21   5.46  13.46   5.00   8.12   9.42  14.33  16.25
6571 1978-12-29  14.00  10.29  14.42   8.71   9.71  10.54  19.17  12.46
6572 1978-12-30  18.50  14.04  21.29   9.13  12.75   9.71  18.08  12.87
6573 1978-12-31  20.33  17.41  27.29   9.59  12.08  10.13  19.25  11.63

        MUL    CLO    BEL    MAL
0     10.83  12.58  18.50  15.04
1      9.79   9.67  17.54  13.83
2      8.50   7.67  12.75  12.71
3      5.83   5.88   5.46  10.88
4     10.92  10.34  12.92  11.83
...     ...    ...    ...    ...
6569  14.04  14.00  17.21  40.08
6570  15.25  18.05  21.79  41.46
6571  14.50  16.42  18.88  29.58
6572  12.46  12.12  14.67  28.79
6573  11.58  11.38  12.08  22.08

[6574 rows x 13 columns]

In [73]:
ans = data.groupby(data['Yr_Mo_Dy'].dt.year).mean()
print(ans)

                RPT        VAL        ROS       KIL        SHA       BIR  \
Yr_Mo_Dy
1961      12.299583  10.351796  11.362369  6.958227  10.881763  7.729726
1962      12.246923  10.110438  11.732712  6.960440  10.657918  7.393068
1963      12.813452  10.836986  12.541151  7.330055  11.724110  8.434712
1964      12.363661  10.920164  12.104372  6.787787  11.454481  7.570874
1965      12.451370  11.075534  11.848767  6.858466  11.024795  7.478110
1966      13.461973  11.557205  12.020630  7.345726  11.805041  7.793671
1967      12.737151  10.990986  11.739397  7.143425  11.630740  7.368164
1968      11.835628  10.468197  11.409754  6.477678  10.760765  6.067322
1969      11.166356   9.723699  10.902000  5.767973   9.873918  6.189973
1970      12.600329  10.726932  11.730247  6.217178  10.567370  7.609452
1971      11.273123   9.095178  11.088329  5.241507   9.440329  6.097151
1972      12.463962  10.561311  12.058333  5.929699   9.430410  6.358825
1973      11.828466  10.680493  10.680493  5.547863   9.640877  6.548740
1974      13.643096  11.811781  12.336356  6.427041  11.110986  6.809781
1975      12.008575  10.293836  11.564712  5.269096   9.190082  5.668521
1976      11.737842  10.203115  10.761230  5.109426   8.846339  6.311038
1977      13.099616  11.144493  12.627836  6.073945  10.003836  8.586438
1978      12.504356  11.044274  11.380000  6.082356  10.167233  7.650658

                DUB        CLA       MUL        CLO        BEL        MAL
Yr_Mo_Dy
1961       9.733923   8.858788  8.647652   9.835577  13.502795  13.680773
1962      11.020712   8.793753  8.316822   9.676247  12.930685  14.323956
1963      11.075699  10.336548  8.903589  10.224438  13.638877  14.999014
1964      10.259153   9.467350  7.789016  10.207951  13.740546  14.910301
1965      10.618712   8.879918  7.907425   9.918082  12.964247  15.591644
1966      10.579808   8.835096  8.514438   9.768959  14.265836  16.307260
1967      10.652027   9.325616  8.645014   9.547425  14.774548  17.135945
1968       8.859180   8.255519  7.224945   7.832978  12.808634  15.017486
1969       8.564493   7.711397  7.924521   7.754384  12.621233  15.762904
1970       9.609890   8.334630  9.297616   8.289808  13.183644  16.456027
1971       8.385890   6.757315  7.915370   7.229753  12.208932  15.025233
1972       9.704508   7.680792  8.357295   7.515273  12.727377  15.028716
1973       8.482110   7.614274  8.245534   7.812411  12.169699  15.441096
1974      10.084603   9.896986  9.331753   8.736356  13.252959  16.947671
1975       8.562603   7.843836  8.797945   7.382822  12.631671  15.307863
1976       9.149126   7.146202  8.883716   7.883087  12.332377  15.471448
1977      11.523205   8.378384  9.098192   8.821616  13.459068  16.590849
1978       9.489342   8.800466  9.089753   8.301699  12.967397  16.771370

C:\Users\user\AppData\Local\Temp\ipykernel_16048\54958338.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ans = data.groupby(data['Yr_Mo_Dy'].dt.year).mean()

In [75]:
data['weekday'] = data['Yr_Mo_Dy'].dt.weekday
print(data['weekday'])

0       6
1       0
2       1
3       2
4       3
       ..
6569    2
6570    3
6571    4
6572    5
6573    6
Name: weekday, Length: 6574, dtype: int64

In [78]:
data['WeekCheck'] = data['weekday'].map(lambda x : 1 if x in [5,6] else 0)
print(data['WeekCheck'])

0       1
1       0
2       0
3       0
4       0
       ..
6569    0
6570    0
6571    0
6572    1
6573    1
Name: WeekCheck, Length: 6574, dtype: int64

In [85]:
print(data.groupby(data.Yr_Mo_Dy.dt.month).mean())

                RPT        VAL        ROS       KIL        SHA       BIR  \
Yr_Mo_Dy
1         14.847325  12.914560  13.299624  7.199498  11.667734  8.054839
2         13.710906  12.111122  12.879132  6.942411  11.551772  7.633858
3         13.158687  11.505842  12.648118  7.265907  11.554516  7.959409
4         12.555648  10.429759  12.204815  6.898037  10.677667  7.441389
5         11.724032  10.145619  11.550394  6.307487  10.224301  6.942061
6         10.451317   8.949704  10.361315  5.652278   9.529926  6.410093
7          9.992007   8.357778   9.349642  5.416935   9.302634  5.972348
8         10.213411   8.415143   9.993441  5.270681   8.901559  5.891057
9         11.458519   9.981002  10.756883  5.615176   9.766315  6.566222
10        12.660610  11.010681  11.453943  6.065215  10.550251  7.159910
11        13.200722  11.639500  12.293407  6.247611  10.501130  7.134333
12        14.446398  12.353602  13.212276  6.829910  11.301254  7.963710

                DUB       CLA       MUL        CLO        BEL        MAL  \
Yr_Mo_Dy
1         11.819355  9.512047  9.543208  10.053566  14.550520  18.028763
2         11.206024  9.341437  9.313169   9.518051  13.728898  17.156142
3         11.310179  9.635896  9.700324  10.096953  13.810609  16.909317
4         10.221315  8.909056  8.930870   9.158019  12.664759  14.937611
5          8.797738  8.452903  8.040806   8.524857  12.767258  13.736039
6          8.009556  7.920796  7.639796   7.729185  12.246407  12.861818
7          7.843501  7.262760  7.544480   7.321416  11.676505  12.800789
8          7.772312  6.842025  7.240573   7.002783  11.110090  12.565943
9          8.609722  7.745677  7.610556   7.689278  12.686389  14.761963
10         9.387778  8.726308  8.347181   8.850376  14.155323  16.697151
11        10.814861  8.427167  8.604000   8.943167  13.815741  18.114185
12        11.849050  9.209355  9.447258   9.627670  14.259516  18.697599

           weekday  WeekCheck
Yr_Mo_Dy
1         2.989247   0.284946
2         3.005906   0.287402
3         3.000000   0.283154
4         3.011111   0.288889
5         2.982079   0.283154
6         3.007407   0.285185
7         3.001792   0.288530
8         2.991039   0.283154
9         3.009259   0.287037
10        2.998208   0.286738
11        2.992593   0.283333
12        3.017921   0.288530

C:\Users\user\AppData\Local\Temp\ipykernel_16048\3725129623.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(data.groupby(data.Yr_Mo_Dy.dt.month).mean())

In [90]:
data = data.fillna(method = 'ffill').fillna(method = 'bfill')

In [91]:
ans = data.groupby(data.Yr_Mo_Dy.dt.to_period('M')).mean()
print(ans)

                RPT        VAL        ROS       KIL        SHA        BIR  \
Yr_Mo_Dy
1961-01   14.932581  12.084194  13.431613  7.736774  11.215806   8.588065
1961-02   16.269286  14.975357  14.324643  9.116786  13.852143  10.937500
1961-03   11.015806  11.296452  10.752903  7.137742  10.509355   8.866774
1961-04   10.722667   9.427667   9.998000  5.830667   8.435000   6.495000
1961-05    9.860968   8.735161  10.818065  5.892258   9.490323   6.574839
...             ...        ...        ...       ...        ...        ...
1978-08    9.645161   8.259355   9.032258  4.502903   7.368065   5.935161
1978-09   10.913667  10.895000  10.635000  5.725000  10.372000   9.278333
1978-10    9.897742   8.670968   9.295806  4.721290   8.525161   6.774194
1978-11   16.151667  14.802667  13.508000  7.317333  11.475000   8.743000
1978-12   16.175484  13.748065  15.635161  7.094839  11.398710   9.241613

                DUB        CLA        MUL        CLO        BEL        MAL  \
Yr_Mo_Dy
1961-01   11.184839   9.270968   9.085806  10.107419  13.880968  14.703226
1961-02   11.890714  11.846071  11.821429  12.714286  18.583214  15.411786
1961-03    9.644194   9.829677  10.646129  11.251935  16.410968  15.637742
1961-04    6.925333   7.094667   7.342333   7.237000  11.147333  10.278333
1961-05    7.477097   8.177097   8.039355   8.499355  11.900323  12.011613
...             ...        ...        ...        ...        ...        ...
1978-08    5.650323   5.417742   7.241290   5.536774  10.466774  12.054194
1978-09   10.790333   9.583000  10.069333   8.939000  15.680333  19.391333
1978-10    8.115484   7.337742   8.297742   8.243871  13.776774  17.150000
1978-11   11.492333   9.657333  10.701333  10.676000  17.404667  20.723000
1978-12   12.077419  10.194839  10.616774  11.028710  13.859677  21.371613

           weekday  WeekCheck
Yr_Mo_Dy
1961-01   2.935484   0.290323
1961-02   3.000000   0.285714
1961-03   3.000000   0.258065
1961-04   3.166667   0.333333
1961-05   2.806452   0.258065
...            ...        ...
1978-08   2.903226   0.258065
1978-09   3.100000   0.300000
1978-10   2.935484   0.290323
1978-11   2.966667   0.266667
1978-12   3.193548   0.322581

[216 rows x 14 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_16048\704147150.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ans = data.groupby(data.Yr_Mo_Dy.dt.to_period('M')).mean()

In [92]:
ans = data.RPT.diff()
print(ans)

0        NaN
1      -0.33
2       3.79
3      -7.92
4       2.75
        ...
6569    3.75
6570   -4.37
6571    0.79
6572    4.50
6573    1.83
Name: RPT, Length: 6574, dtype: float64

In [94]:
ans = data[['RPT','VAL']].rolling(7).mean()
print(ans)

            RPT        VAL
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
6569  11.868571   9.362857
6570  11.904286   9.595714
6571  13.017143  10.011429
6572  13.285714  10.118571
6573  14.951429  11.801429

[6574 rows x 2 columns]

In [135]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv'
data = pd.DataFrame(pd.read_csv(DataUrl))

In [98]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   (년-월-일:시)  1239 non-null   object
 1   PM10등급     1233 non-null   object
 2   PM10       1233 non-null   float64
 3   PM2.5등급    1232 non-null   object
 4   PM2.5      1232 non-null   float64
 5   오존등급       1232 non-null   object
 6   오존         1232 non-null   float64
 7   이산화질소등급    1232 non-null   object
 8   이산화질소      1232 non-null   float64
 9   일산화탄소등급    1232 non-null   object
 10  일산화탄소      1232 non-null   float64
 11  아황산가스등급    1232 non-null   object
 12  아황산가스      1232 non-null   float64
dtypes: float64(6), object(7)
memory usage: 126.0+ KB
None

In [99]:
print(data.describe())

             PM10        PM2.5           오존        이산화질소        일산화탄소  \
count  1233.00000  1232.000000  1232.000000  1232.000000  1232.000000
mean     70.27575    24.779221     0.033969     0.026808     0.433198
std     111.37555    22.347378     0.017302     0.014998     0.132501
min       3.00000     1.000000     0.002000     0.005000     0.300000
25%      28.00000    13.000000     0.022000     0.016000     0.300000
50%      43.00000    18.000000     0.034000     0.024000     0.400000
75%      66.00000    28.000000     0.043000     0.033000     0.500000
max    1024.00000   172.000000     0.123000     0.098000     1.400000

             아황산가스
count  1232.000000
mean      0.002809
std       0.001100
min       0.001000
25%       0.002000
50%       0.003000
75%       0.003000
max       0.011000

In [104]:
print(data.isnull().sum())

(년-월-일:시)    0
PM10등급       6
PM10         6
PM2.5등급      7
PM2.5        7
오존등급         7
오존           7
이산화질소등급      7
이산화질소        7
일산화탄소등급      7
일산화탄소        7
아황산가스등급      7
아황산가스        7
dtype: int64

In [109]:
data

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15:15,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15:14,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15:13,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15:12,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15:11,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25:05,보통,39.0,보통,18.0,좋음,0.026,좋음,0.025,좋음,0.4,좋음,0.003
1235,2021-03-25:04,보통,34.0,좋음,15.0,좋음,0.017,보통,0.033,좋음,0.4,좋음,0.002
1236,2021-03-25:03,보통,35.0,좋음,13.0,좋음,0.029,좋음,0.025,좋음,0.4,좋음,0.003
1237,2021-03-25:02,보통,35.0,좋음,13.0,보통,0.031,좋음,0.025,좋음,0.3,좋음,0.003
1238,2021-03-25:01,보통,42.0,좋음,13.0,좋음,0.022,보통,0.037,좋음,0.4,좋음,0.003

In [139]:
def change_date(x):
    import datetime
    hour = x.split(':')[1]
    date = x.split(":")[0]
    
    if hour =='24':
        hour ='00:00:00'
        
        FinalDate = pd.to_datetime(date +" "+hour) +datetime.timedelta(days=1)
        
    else:
        hour = hour +':00:00'
        FinalDate = pd.to_datetime(date +" "+hour)
    
    return FinalDate

data['(년-월-일:시)'] = data['(년-월-일:시)'].apply(change_date)

Ans = data

In [137]:
import copy
data = copy.deepcopy(data)

In [147]:
data['dayName'] = data['(년-월-일:시)'].dt.weekday
print(data['dayName'])

0       5
1       5
2       5
3       5
4       5
       ..
1234    3
1235    3
1236    3
1237    3
1238    3
Name: dayName, Length: 1239, dtype: int64

In [148]:
data['dayName'] = data['(년-월-일:시)'].dt.day_name()
print(data['dayName'])

0       Saturday
1       Saturday
2       Saturday
3       Saturday
4       Saturday
          ...
1234    Thursday
1235    Thursday
1236    Thursday
1237    Thursday
1238    Thursday
Name: dayName, Length: 1239, dtype: object

In [150]:
data.groupby(data['PM10등급']).count()

,(년-월-일:시),PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
PM10등급,,,,,,,,,,,,,
나쁨,145,145,145,145,145,145,145,145,145,145,145,145,145
매우나쁨,76,76,76,76,74,74,74,74,74,74,74,74,76
보통,651,651,649,649,651,651,651,651,651,651,651,651,651
좋음,361,361,361,361,361,361,361,361,361,361,361,361,361

In [151]:
#################################
#################################

#작업 1유형

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
data.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [3]:
ans = list(data.loc[data.channelId.isin(data.channelId.value_counts().head(10).index)].channelTitle.unique())
print(ans)

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [4]:
print(data[ data['dislikes'] > data['likes'] ].channelTitle.unique())

['핫도그TV' 'ASMR 애정TV' '하얀트리HayanTree' '양팡 YangPang' '철구형 (CHULTUBE)'
 '왜냐맨하우스' '(MUTUBE)와꾸대장봉준' '오메킴TV' '육지담' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' '사나이 김기훈' '나혼자산다 STUDIO' 'Gen.G esports']

In [5]:
ans = data[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
print(ans.loc[ans >1].count())

71

In [6]:
data['trending_date2'] = pd.to_datetime(data['trending_date2'])

In [7]:
ans = data[data['trending_date2'].dt.day_name() == 'Sunday']
print(ans.categoryId.value_counts().index[0])

24

In [8]:
ans = data.groupby([data['trending_date2'].dt.day_name(),'categoryId'], as_index=False).size()
print(ans.pivot(index = 'categoryId', columns= 'trending_date2'))

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [9]:
import copy
ex = data.loc[data.view_count !=0]
t = ex.copy()
t['ratio'] = (ex.comment_count / ex.view_count).dropna()
print(t.sort_values(by = 'ratio', ascending= False).iloc[0].title)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

In [10]:
t['ratio'] = (ex.comment_count / ex.view_count).dropna()
ans = t[t['ratio'] != 0]
print(ans.sort_values(by = 'ratio',ascending = True).iloc[0].title)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [11]:
ex = data[['title','likes','dislikes']]
ex = ex[ex['likes'] !=0]
ex = ex[ex['dislikes'] !=0]
ex['ratio_like'] = ex.dislikes / ex.likes
print(ex.sort_values(by = 'ratio_like', ascending = True).iloc[0].title)

[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

In [20]:
print(data.loc[data.channelId == data.channelId.value_counts().index[0]].channelTitle.unique()[0])

짤툰

In [25]:
(data[['title','channelId']].value_counts()>=20).sum()

40

In [45]:
import pandas as pd
dataurl1 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv' # (비디오 정보)
dataurl2 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv' # (참가자 채널 정보)
video = pd.read_csv(dataurl1)
channel = pd.read_csv(dataurl2)

In [46]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [47]:
channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [49]:
video['ct'] = pd.to_datetime(video['ct'])
channel['ct'] = pd.to_datetime(channel['ct'])

In [56]:
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [77]:
video.sort_values(['videoname','ct']).drop_duplicates('videoname')[['viewcnt','videoname','ct']]

       viewcnt videoname                  ct
10        6396    공범 EP1 2021-10-07 19:10:03
3496     11153    공범 EP2 2021-10-09 19:10:03
6696     10240    공범 EP3 2021-10-14 19:10:04
9264     23581    공범 EP4 2021-10-16 19:10:04
11544    16777    공범 EP5 2021-10-21 19:10:04
13661    24331    공범 EP6 2021-10-23 19:10:04
13106    32404    공범 EP7 2021-10-28 19:10:04
14935    82015    공범 EP8 2021-10-30 19:20:04

In [97]:
channel[channel['ct'] > '2021-10-03 00:00:00'].sort_values('ct').drop_duplicates('channelid')[['channelname','subcnt']]

          channelname   subcnt
393            논리왕 전기   922000
266        츄정ChuJeong   322000
139             야전삽짱재   257000
901        김농밀의 농밀한 삶     7520
520   와글와글 WagleWagle    55000
1028      릴펄 Lilpearl    10100
774           형사!탐정되다    14900
647               조나단   215000
12                꽈뚜룹  1330000
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000

In [112]:
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv'
data = pd.read_csv(dataurl)

In [113]:
data

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [128]:
print(data.groupby('Country').sum().sort_values('Goals', ascending = False).head(5))

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

C:\Users\user\AppData\Local\Temp\ipykernel_14080\2240541946.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(data.groupby('Country').sum().sort_values('Goals', ascending = False).head(5))

In [129]:
data

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [137]:
data.groupby('Country').size().sort_values(ascending = False).head(5)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [143]:
data['yearlst'] = data.Years.str.split('-')

def checkfour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
    return True

In [147]:
data['check'] = data['yearlst'].apply(checkfour)
result = len(data[data.check == False])
result

45

In [152]:
data['yearlst'] = data.Years.str.split('-')

def checkfour(x):
    for value in x:
        if len(str(value)) !=4:
            return False
    return True

data['check'] = data['yearlst'].apply(checkfour)
print(len(data[data['check'] == False]))

45

In [167]:
data2 = data[data['check'] == True]
data2.reset_index(drop = True)
print(data2.shape[0])

1250

In [168]:
data2

,Player,Goals,Years,Country,yearlst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True
...,...,...,...,...,...,...
1290,Josip Skoblar,1,1962,Yugoslavia,[1962],True
1291,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True
1292,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True
1293,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True
1294,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True

In [175]:
def count_in(x):
    value = len(x)
    return value
    
data2['LenCup'] = data2['yearlst'].apply(count_in)

16

C:\Users\user\AppData\Local\Temp\ipykernel_14080\2553187025.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['LenCup'] = data2['yearlst'].apply(count_in)

In [176]:
print(len(data2[data2['LenCup'] == 4]))

16

In [181]:
ans = data2[data2['Country'] == 'Yugoslavia']
ans = ans[ans['LenCup'] == 2]
print(len(ans))

7

In [194]:
ans = data2[data2['Years'].str.contains('2002')]
print(len(ans))

156

In [196]:
ans = data2[data2['Player'].str.contains('carlos')] + data2[data2['Player'].str.contains('Carlos')] 
print(len(ans))

13

In [207]:
ans = data2[data2['LenCup'] == 1]
ans.sort_values(by = 'Goals', ascending = False).reset_index(drop = True)
print(ans.iloc[0].Player)

Just Fontaine

In [213]:
ans = data2[data2['LenCup'] == 1].Country.value_counts().index[0]
print(ans)

Brazil

In [214]:
import pandas as pd
data =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
data.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

In [223]:
ans = data['대여일자'].value_counts().sort_index().to_frame()
print(ans)

             대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [226]:
data['day_name'] = pd.to_datetime(data['대여일자'])
data['day_name'] = data['day_name'].dt.day_name()
print(data.head())

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간  \
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

  day_name
0  Tuesday
1  Tuesday
2  Tuesday
3  Tuesday
4  Tuesday

In [247]:
display(data['day_name'].value_counts().to_frame())

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

In [338]:
ans = data.groupby(['day_name','대여소번호']).size().to_frame('size').sort_values(['day_name','size'],ascending= False).reset_index()
display(ans.drop_duplicates('day_name'))

        day_name  대여소번호  size
0      Wednesday    502   282
2402     Tuesday    502   267
4801    Thursday   2715   137
7197      Sunday    502   372
9611    Saturday    502   378
12031     Monday    502   242
14453     Friday    502   277

In [248]:
data

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday

In [272]:
daily = data[data['대여구분코드'].isin(['일일권','일일권(비회원)'])].연령대코드.value_counts()
total = data.연령대코드.value_counts()

ans = (daily/total.sort_values(ascending=False))
display(ans)

print('max : ~10대')

20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
60대     0.042462
70대~    0.048962
~10대    0.312525
Name: 연령대코드, dtype: float64

max : ~10대

In [287]:
print(data[['연령대코드','이동거리']].groupby(['연령대코드']).mean())

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

In [335]:
ans = data[data.연령대코드 == '20대'].reset_index(drop=True)
mean = ans[ans.이동거리 >= ans.이동거리.mean()].reset_index(drop=True)
mean['탄소량'] = mean['탄소량'].astype('float')
target = mean.sort_values(['대여일자','대여소번호'],ascending = False).reset_index(drop=True).iloc[:200].탄소량

print(round(target.sum()/200,3))

1.613

In [352]:
print(data[(data['연령대코드'] == '~10대') & (data['대여일자'] == '2021-06-07')].이용건수.median())

1.0

In [391]:
ans = data[(data['day_name'] != 'Sunday') & (data['day_name'] != 'Saturday')]
ans = ans[(ans['대여시간'] == 6) | (ans['대여시간'] == 7)| (ans['대여시간'] == 8)].reset_index(drop = True)
ex = ans.groupby(['대여시간','대여소번호']).size().to_frame('이용횟수')
ex = ex.sort_values(['대여시간','이용횟수'],ascending = False).groupby('대여시간').head(3)
print(ex)

            이용횟수
대여시간 대여소번호
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

In [396]:
data2 = data[data.이동거리 >= data.이동거리.mean()]
print(data2.이동거리.std() )

5092.139707505356

In [403]:
fmean = data[(data['성별'] == 'F' )| (data['성별'] == 'f') ].이동거리.mean()
mmean = data[(data['성별'] == 'M' )| (data['성별'] == 'm') ].이동거리.mean()
print(mmean)
print(fmean)

3209.1108714530546
3468.5750252981957

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv'
data = pd.read_csv(dataurl)
print(data)

     행복랭킹                       나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도  \
0       1                   Finland  7.769  1.340  1.587  0.986    0.596
1       2                   Denmark  7.600  1.383  1.573  0.996    0.592
2       3                    Norway  7.554  1.488  1.582  1.028    0.603
3       4                   Iceland  7.494  1.380  1.624  1.026    0.591
4       5               Netherlands  7.488  1.396  1.522  0.999    0.557
..    ...                       ...    ...    ...    ...    ...      ...
307   152                     Yemen  3.355  0.442  1.073  0.343    0.244
308   153                  Tanzania  3.303  0.455  0.991  0.381    0.481
309   154               South Sudan  3.254  0.337  0.608  0.177    0.112
310   155  Central African Republic  3.083  0.024  0.000  0.010    0.305
311   156                   Burundi  2.905  0.091  0.627  0.145    0.065

       관대함  부패에 대한인식    년도
0    0.153     0.393  2019
1    0.252     0.410  2019
2    0.271     0.341  2019
3    0.354     0.118  2019
4    0.322     0.298  2019
..     ...       ...   ...
307  0.083     0.064  2018
308  0.270     0.097  2018
309  0.224     0.106  2018
310  0.218     0.038  2018
311  0.149     0.076  2018

[312 rows x 10 columns]

In [2]:
print(data[(data['행복랭킹'] == 10 )].점수.mean())

7.259

In [3]:
print(data[data['행복랭킹'] <= 50][['년도','점수']].groupby('년도').mean())

           점수
년도
2018  6.64678
2019  6.67002

In [4]:
print(data[data['년도'] == 2018][['점수','부패에 대한인식']].corr().iloc[0,1])

0.40529152271510027

In [5]:
len(data[['행복랭킹','나라명']]) - len(data[['행복랭킹','나라명']].drop_duplicates())

15

In [7]:
result = data.groupby('년도').tail(5).groupby('년도').mean()[['점수']]
print(result)

          점수
년도
2018  3.1800
2019  3.1408

C:\Users\user\AppData\Local\Temp\ipykernel_21128\767805336.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = data.groupby('년도').tail(5).groupby('년도').mean()[['점수']]

In [14]:
result = set(data[(data.년도==2018) & ( data.행복랭킹 <=50) ].나라명) - set(data[(data.년도==2019) & ( data.행복랭킹 <=50)].나라명 )
print(result)
print(len(result))

{'Thailand', 'Kuwait', 'Belize', 'Malaysia'}
4

In [19]:
ex2018 = set(data[data.년도==2018].나라명)
ex2019 = set(data[data.년도==2019].나라명)

print(ex2018)
print(len(ex2018))
print(ex2019)
print(len(ex2019))

{'Ivory Coast', 'Congo (Brazzaville)', 'Burundi', 'Brazil', 'Ukraine', 'Malawi', 'Canada', 'Guinea', 'Kyrgyzstan', 'Mauritius', 'Yemen', 'Italy', 'Jordan', 'Panama', 'Uganda', 'Costa Rica', 'Qatar', 'Trinidad & Tobago', 'El Salvador', 'Japan', 'Norway', 'United Kingdom', 'Czech Republic', 'Philippines', 'Morocco', 'Ghana', 'Central African Republic', 'Iran', 'Slovakia', 'Kenya', 'Armenia', 'Bangladesh', 'Ethiopia', 'Somalia', 'Belize', 'Kuwait', 'Kosovo', 'Australia', 'Bhutan', 'Uruguay', 'Madagascar', 'Netherlands', 'Azerbaijan', 'Syria', 'Malaysia', 'Mexico', 'Iceland', 'Slovenia', 'Algeria', 'Germany', 'Lithuania', 'South Africa', 'Mali', 'Russia', 'Togo', 'Gabon', 'Tunisia', 'Laos', 'Peru', 'Burkina Faso', 'Benin', 'Georgia', 'Bosnia and Herzegovina', 'Congo (Kinshasa)', 'Turkey', 'Spain', 'Uzbekistan', 'Sri Lanka', 'Taiwan', 'Ireland', 'Jamaica', 'New Zealand', 'Luxembourg', 'Montenegro', 'Tanzania', 'Colombia', 'South Korea', 'Dominican Republic', 'Turkmenistan', 'Egypt', 'Bahrain', 'United Arab Emirates', 'Angola', 'Northern Cyprus', 'United States', 'Cyprus', 'Guatemala', 'Honduras', 'Haiti', 'Zambia', 'Argentina', 'Malta', 'Hong Kong', 'Cameroon', 'Sweden', 'Denmark', 'Rwanda', 'Austria', 'Bulgaria', 'Poland', 'Kazakhstan', 'Sierra Leone', 'Zimbabwe', 'Saudi Arabia', 'Bolivia', 'Senegal', 'Mongolia', 'Hungary', 'Botswana', 'Serbia', 'Israel', 'Greece', 'India', 'Palestinian Territories', 'Macedonia', 'Estonia', 'Moldova', 'Venezuela', 'Chad', 'Albania', 'Chile', 'Pakistan', 'Finland', 'Iraq', 'Belarus', 'Belgium', 'Nicaragua', 'Namibia', 'Thailand', 'Sudan', 'Switzerland', 'Niger', 'Myanmar', 'Latvia', 'Afghanistan', 'Croatia', 'Vietnam', 'Tajikistan', 'Paraguay', 'Portugal', 'Romania', 'Liberia', 'Libya', 'Lesotho', 'South Sudan', 'Cambodia', 'Nepal', 'Mauritania', 'China', 'France', 'Ecuador', 'Lebanon', 'Nigeria', 'Mozambique', 'Singapore', 'Indonesia'}
156
{'Ivory Coast', 'Congo (Brazzaville)', 'Burundi', 'Brazil', 'Ukraine', 'Malawi', 'Canada', 'Guinea', 'Kyrgyzstan', 'Mauritius', 'Yemen', 'Italy', 'Jordan', 'Panama', 'Uganda', 'Costa Rica', 'Qatar', 'Trinidad & Tobago', 'El Salvador', 'Japan', 'Norway', 'United Kingdom', 'Czech Republic', 'Philippines', 'Morocco', 'Ghana', 'Central African Republic', 'Iran', 'Slovakia', 'Kenya', 'Armenia', 'Bangladesh', 'Ethiopia', 'Somalia', 'Kuwait', 'Kosovo', 'Australia', 'Bhutan', 'Uruguay', 'Madagascar', 'Netherlands', 'Azerbaijan', 'Syria', 'Malaysia', 'Mexico', 'Iceland', 'Slovenia', 'Algeria', 'Germany', 'Lithuania', 'South Africa', 'Mali', 'Russia', 'Togo', 'Gabon', 'Tunisia', 'Laos', 'Peru', 'Burkina Faso', 'Benin', 'Georgia', 'Bosnia and Herzegovina', 'Congo (Kinshasa)', 'Turkey', 'Spain', 'Uzbekistan', 'Sri Lanka', 'Taiwan', 'North Macedonia', 'Ireland', 'Jamaica', 'New Zealand', 'Luxembourg', 'Montenegro', 'Tanzania', 'Colombia', 'South Korea', 'Dominican Republic', 'Turkmenistan', 'Egypt', 'Bahrain', 'United Arab Emirates', 'Northern Cyprus', 'United States', 'Cyprus', 'Comoros', 'Guatemala', 'Honduras', 'Haiti', 'Zambia', 'Argentina', 'Malta', 'Hong Kong', 'Cameroon', 'Sweden', 'Denmark', 'Rwanda', 'Austria', 'Bulgaria', 'Poland', 'Kazakhstan', 'Sierra Leone', 'Swaziland', 'Zimbabwe', 'Saudi Arabia', 'Bolivia', 'Senegal', 'Mongolia', 'Hungary', 'Botswana', 'Serbia', 'Israel', 'Gambia', 'Greece', 'India', 'Palestinian Territories', 'Estonia', 'Moldova', 'Venezuela', 'Chad', 'Albania', 'Chile', 'Pakistan', 'Finland', 'Iraq', 'Belarus', 'Belgium', 'Nicaragua', 'Namibia', 'Thailand', 'Switzerland', 'Niger', 'Myanmar', 'Latvia', 'Afghanistan', 'Croatia', 'Vietnam', 'Tajikistan', 'Paraguay', 'Portugal', 'Romania', 'Liberia', 'Libya', 'Lesotho', 'South Sudan', 'Cambodia', 'Nepal', 'Mauritania', 'China', 'France', 'Ecuador', 'Lebanon', 'Nigeria', 'Mozambique', 'Singapore', 'Indonesia'}
156

In [18]:
both = set()
for i in ex2018:
    if i in ex2019:
        both.add(i)
        
print(both)
print(len(both))

{'Ivory Coast', 'Burundi', 'Congo (Brazzaville)', 'Brazil', 'Ukraine', 'Malawi', 'Canada', 'Guinea', 'Kyrgyzstan', 'Mauritius', 'Yemen', 'Italy', 'Jordan', 'Panama', 'Uganda', 'Qatar', 'Costa Rica', 'Trinidad & Tobago', 'El Salvador', 'Japan', 'Norway', 'United Kingdom', 'Czech Republic', 'Philippines', 'Morocco', 'Ghana', 'Central African Republic', 'Iran', 'Slovakia', 'Kenya', 'Armenia', 'Bangladesh', 'Ethiopia', 'Somalia', 'Kuwait', 'Kosovo', 'Australia', 'Bhutan', 'Uruguay', 'Madagascar', 'Netherlands', 'Azerbaijan', 'Syria', 'Malaysia', 'Mexico', 'Iceland', 'Slovenia', 'Algeria', 'Germany', 'Lithuania', 'South Africa', 'Mali', 'Russia', 'Togo', 'Gabon', 'Tunisia', 'Laos', 'Peru', 'Burkina Faso', 'Benin', 'Georgia', 'Bosnia and Herzegovina', 'Congo (Kinshasa)', 'Turkey', 'Spain', 'Uzbekistan', 'Sri Lanka', 'Taiwan', 'Ireland', 'Jamaica', 'New Zealand', 'Luxembourg', 'Montenegro', 'Tanzania', 'Colombia', 'South Korea', 'Dominican Republic', 'Turkmenistan', 'Egypt', 'Bahrain', 'United Arab Emirates', 'Northern Cyprus', 'United States', 'Cyprus', 'Guatemala', 'Honduras', 'Haiti', 'Zambia', 'Argentina', 'Malta', 'Hong Kong', 'Cameroon', 'Sweden', 'Denmark', 'Rwanda', 'Austria', 'Bulgaria', 'Poland', 'Kazakhstan', 'Sierra Leone', 'Zimbabwe', 'Saudi Arabia', 'Bolivia', 'Senegal', 'Mongolia', 'Hungary', 'Botswana', 'Serbia', 'Israel', 'Greece', 'India', 'Palestinian Territories', 'Estonia', 'Moldova', 'Venezuela', 'Chad', 'Albania', 'Chile', 'Pakistan', 'Finland', 'Iraq', 'Belarus', 'Belgium', 'Nicaragua', 'Namibia', 'Thailand', 'Switzerland', 'Niger', 'Myanmar', 'Latvia', 'Afghanistan', 'Croatia', 'Vietnam', 'Tajikistan', 'Paraguay', 'Portugal', 'Romania', 'Liberia', 'Libya', 'Lesotho', 'South Sudan', 'Cambodia', 'Nepal', 'Mauritania', 'China', 'France', 'Ecuador', 'Lebanon', 'Nigeria', 'Mozambique', 'Singapore', 'Indonesia'}
152

In [23]:
count = data.나라명.value_counts()
count

Finland      2
Albania      2
Nepal        2
Jordan       2
Benin        2
            ..
Gambia       1
Belize       1
Macedonia    1
Sudan        1
Angola       1
Name: 나라명, Length: 160, dtype: int64

In [27]:
target = count[count >=2].index
target

Index(['Finland', 'Albania', 'Nepal', 'Jordan', 'Benin', 'Congo (Brazzaville)',
       'Gabon', 'Laos', 'South Africa', 'Venezuela',
       ...
       'Kosovo', 'Romania', 'Cyprus', 'Argentina', 'Kuwait', 'Thailand',
       'Latvia', 'South Korea', 'Estonia', 'Jamaica'],
      dtype='object', length=152)

In [44]:
import copy
data2 = data.copy()
multi = data2[data2.나라명.isin(target)].reset_index(drop = True)
multi.sort_values(by = '나라명')
multi.loc[multi['년도'] == 2018,'점수'] = multi[multi['년도'] == 2018]['점수'].values * (-1)
result = multi.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]

In [45]:
result

점수    0.87
Name: Burundi, dtype: float64

In [191]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv'
data = pd.read_csv(url)

In [52]:
data.DateTime = pd.to_datetime(data.DateTime)
data

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [63]:
ans = data.DateTime.dt.month.value_counts().sort_index().to_frame()
display(ans)

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

In [102]:
target = data[data.DateTime.dt.month == 3]
print(target.groupby(data.DateTime.dt.hour)['Temperature'].mean().sort_values().values[0])
print(target.groupby(data.DateTime.dt.hour)['Temperature'].mean().sort_values().values[-1])

11.506612903225806
18.393602150537635

In [124]:
result = data.loc[data['Zone 1 Power Consumption'] > data['Zone 2  Power Consumption']].Humidity.mean()
print(result)

68.23624448055052

In [137]:
target = data[['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']]
display(target.corr())

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [145]:
def check_temp(x):
    if x < 10:
        return 'A'
    elif 10 <= x < 20:
        return 'B'
    elif 20 <= x < 30:
        return 'C' 
    else:
        return 'D'
        
data['temp_type'] = data['Temperature'].apply(check_temp)
print(data)

               DateTime  Temperature  Humidity  Wind Speed  \
0         1/1/2017 0:00        6.559      73.8       0.083
1         1/1/2017 0:10        6.414      74.5       0.083
2         1/1/2017 0:20        6.313      74.5       0.080
3         1/1/2017 0:30        6.121      75.0       0.083
4         1/1/2017 0:40        5.921      75.7       0.081
...                 ...          ...       ...         ...
52411  12/30/2017 23:10        7.010      72.4       0.080
52412  12/30/2017 23:20        6.947      72.6       0.082
52413  12/30/2017 23:30        6.900      72.8       0.086
52414  12/30/2017 23:40        6.758      73.0       0.080
52415  12/30/2017 23:50        6.580      74.1       0.081

       general diffuse flows  diffuse flows  Zone 1 Power Consumption  \
0                      0.051          0.119               34055.69620
1                      0.070          0.085               29814.68354
2                      0.062          0.100               29128.10127
3                      0.091          0.096               28228.86076
4                      0.048          0.085               27335.69620
...                      ...            ...                       ...
52411                  0.040          0.096               31160.45627
52412                  0.051          0.093               30430.41825
52413                  0.084          0.074               29590.87452
52414                  0.066          0.089               28958.17490
52415                  0.062          0.111               28349.80989

       Zone 2  Power Consumption  Zone 3  Power Consumption temp_type
0                    16128.87538                20240.96386         A
1                    19375.07599                20131.08434         A
2                    19006.68693                19668.43373         A
3                    18361.09422                18899.27711         A
4                    17872.34043                18442.40964         A
...                          ...                        ...       ...
52411                26857.31820                14780.31212         A
52412                26124.57809                14428.81152         A
52413                25277.69254                13806.48259         A
52414                24692.23688                13512.60504         A
52415                24055.23167                13345.49820         A

[52416 rows x 10 columns]

In [173]:
display(data.groupby(data['temp_type']).count().iloc[:,0])

temp_type
A     2874
B    26993
C    21105
D     1444
Name: DateTime, dtype: int64

In [184]:
data['DateTime'] = pd.to_datetime(data['DateTime'])
target = data[(data['DateTime'].dt.month == 6)&(data['DateTime'].dt.hour == 12)]
print(target.Temperature.std())
print(target.Temperature.var())

2.0499417827951025
4.202261312849163

In [202]:
target = data[data['Temperature'] >= data['Temperature'].median() ].sort_values(by = 'Temperature').iloc[3,]
print(target['Humidity'])

80.3

In [327]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv'
data = pd.read_csv(url)
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [207]:
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [213]:
abs(data[data['Legendary']].HP.mean()- data[data['Legendary'] == False].HP.mean())

25.55614861329147

In [228]:
print(data['Type 2'].value_counts().sort_values(ascending = False).index[0])

Flying

In [233]:
data.groupby(data['Type 1']).value_counts()

Type 1  #    Name        Type 2    Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Bug     12   Butterfree  Flying    395    60  45      50       90       80       70     1           False        1
        13   Weedle      Poison    195    40  35      30       20       20       50     1           False        1
        666  Vivillon    Flying    411    80  52      50       90       50       89     6           False        1
        167  Spinarak    Poison    250    40  60      40       40       40       30     2           False        1
        269  Dustox      Poison    385    60  50      70       50       90       65     3           False        1
                                                                                                                ..
Water   279  Pelipper    Flying    430    60  50      100      85       70       65     3           False        1
        79   Slowpoke    Psychic   315    90  65      65       40       40       15     1           False        1
        72   Tentacool   Poison    335    40  40      35       50       100      70     1           False        1
        62   Poliwrath   Fighting  510    90  95      95       70       90       70     1           False        1
        658  Greninja    Dark      530    72  95      67       103      71       122    6           False        1
Length: 414, dtype: int64

In [238]:
data[data['Type 1'] == 'Water'].Attack.mean()/data[data['Type 1'] == 'Water'].Defense.mean()

1.0165238678090576

In [255]:
print(data[data['Legendary']].groupby(data['Generation']).Legendary.value_counts().sort_values(ascending = False).index[0])

(3, True)

In [268]:
result = data[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().sort_values(ascending = False)
result = result[result != 1].reset_index()
print(result.iloc[0])

level_0     Defense
level_1     Sp. Def
0          0.510747
Name: 0, dtype: object

In [293]:
result = data.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
print(result)

19.5

In [326]:
result = data.sort_values(['Generation','Attack'], ascending = False).groupby('Generation').head(5).mean()
print(result.Attack)

157.23333333333332

C:\Users\user\AppData\Local\Temp\ipykernel_21128\1037985409.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  result = data.sort_values(['Generation','Attack'], ascending = False).groupby('Generation').head(5).mean()

In [305]:
print(data[['Type 1','Type 2']].value_counts().index[0])

('Normal', 'Flying')

In [309]:
result = data[['Type 1','Type 2']].value_counts()
result = result[result == 1] 
print(len(result))

39

In [321]:
result = data[['Type 1','Type 2']].value_counts()
result = result[result == 1] 
print(len(result))
print(result)

39
Type 1    Type 2
Electric  Grass       1
Steel     Dragon      1
Electric  Ice         1
Steel     Fighting    1
          Flying      1
Electric  Fairy       1
          Ghost       1
          Fire        1
Bug       Water       1
Electric  Dragon      1
Dragon    Fire        1
Bug       Ghost       1
Dragon    Fairy       1
          Electric    1
Ground    Steel       1
Rock      Fighting    1
Electric  Water       1
Psychic   Dark        1
Ground    Fire        1
          Electric    1
Normal    Ground      1
Grass     Ground      1
Normal    Water       1
Poison    Bug         1
          Dragon      1
Grass     Dragon      1
Poison    Water       1
Ghost     Dark        1
Fighting  Dark        1
Psychic   Fire        1
Fire      Water       1
Psychic   Ghost       1
          Grass       1
Fire      Steel       1
          Rock        1
Ice       Ghost       1
Fire      Dragon      1
Fighting  Flying      1
Water     Steel       1
dtype: int64

In [324]:
lst = []
for value in result.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    ex = data[(data['Type 1'] == t1) & (data['Type 2'] == t2)]
    lst.append(ex)
    
result = pd.concat(lst).reset_index(drop = True).Generation.value_counts().sort_index()
print(result)

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

Type 1    Type 2
Electric  Grass       1
Steel     Dragon      1
Electric  Ice         1
Steel     Fighting    1
          Flying      1
Electric  Fairy       1
          Ghost       1
          Fire        1
Bug       Water       1
Electric  Dragon      1
Dragon    Fire        1
Bug       Ghost       1
Dragon    Fairy       1
          Electric    1
Ground    Steel       1
Rock      Fighting    1
Electric  Water       1
Psychic   Dark        1
Ground    Fire        1
          Electric    1
Normal    Ground      1
Grass     Ground      1
Normal    Water       1
Poison    Bug         1
          Dragon      1
Grass     Dragon      1
Poison    Water       1
Ghost     Dark        1
Fighting  Dark        1
Psychic   Fire        1
Fire      Water       1
Psychic   Ghost       1
          Grass       1
Fire      Steel       1
          Rock        1
Ice       Ghost       1
Fire      Dragon      1
Fighting  Flying      1
Water     Steel       1
dtype: int64

In [374]:
import pandas as pd
result = data[['Type 1','Type 2']].value_counts()
result = result[result ==1]

#print(result)

ans = [0]*7
for t1,t2 in result.index:
    ex = data[(data['Type 1'] == t1) & (data['Type 2'] == t2)].Generation 
    ans[int(ex)] += 1   
    
display(pd.DataFrame(ans).iloc[1:,:])

    0
1   1
2   4
3   5
4  13
5   7
6   9

In [456]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv'
data = pd.read_csv(url)

In [457]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13396 entries, 0 to 13395
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   측정나이              13396 non-null  float64
 1   측정회원성별            13396 non-null  object
 2   신장 : cm           13396 non-null  float64
 3   체중 : kg           13396 non-null  float64
 4   체지방율 : %          13396 non-null  float64
 5   이완기혈압(최저) : mmHg  13396 non-null  float64
 6   수축기혈압(최고) : mmHg  13396 non-null  float64
 7   악력D : kg          13396 non-null  float64
 8   앉아윗몸앞으로굽히기 : cm   13396 non-null  float64
 9   교차윗몸일으키기 : 회      13396 non-null  float64
 10  제자리 멀리뛰기 : cm     13396 non-null  float64
 11  등급                13396 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

,측정나이,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm
count,13396.000000,13396.000000,13396.000000,13396.000000,13396.000000,13396.000000,13396.000000,13396.000000,13396.000000,13396.000000
mean,36.703643,168.590355,67.427052,23.185793,78.804382,130.999776,36.967348,15.072851,39.858361,190.137325
std,13.689811,8.444366,11.976330,7.247670,13.697704,49.675022,10.610544,8.424312,14.324476,39.975541
min,21.000000,125.000000,32.700000,2.300000,8.000000,14.000000,0.000000,-22.000000,-10.800000,0.000000
25%,25.000000,162.300000,58.200000,18.000000,71.000000,120.000000,27.600000,10.600000,30.000000,163.000000
50%,32.000000,169.250000,67.400000,22.700000,79.000000,130.000000,37.900000,16.000000,41.000000,193.000000
75%,48.000000,174.900000,75.400000,27.900000,86.000000,141.000000,45.100000,20.800000,51.000000,221.000000
max,64.000000,194.500000,155.100000,78.400000,890.000000,5109.000000,72.100000,185.000000,83.000000,299.000000

In [458]:
#73번
data['기압차'] = data['수축기혈압(최고) : mmHg'] - data['이완기혈압(최저) : mmHg'] 
data.head(5)
print(data.기압차.mean())
#74번
display(data.groupby(['연령대','등급']).size())
#75번
print(abs(data[(data['등급'] == 'A')&(data['측정회원성별'] == 'M')]['체지방율 : %'].mean()-data[(data['등급'] == 'D')&(data['측정회원성별'] == 'M')]['체지방율 : %'].mean()))
#76번
print(abs(data[(data['등급'] == 'A')&(data['측정회원성별'] == 'F')]['체중 : kg'].mean()-data[(data['등급'] == 'D')&(data['측정회원성별'] == 'F')]['체중 : kg'].mean()))
#77번
data['bmi'] = data['체중 : kg']/pow(data['신장 : cm']/100,2)
print(data[data['측정회원성별'] == 'M']['bmi'].mean())
#78번
print(data[data['체지방율 : %'] > data['bmi']]['체중 : kg'].mean())
#79번
print(data[data['측정회원성별'] == 'M']['악력D : kg'].mean() - data[data['측정회원성별'] == 'F']['악력D : kg'].mean())
#80번
print(abs(data[data['측정회원성별'] == 'M']['교차윗몸일으키기 : 회'].mean() - data[data['측정회원성별'] == 'F']['교차윗몸일으키기 : 회'].mean()))

52.19539414750672

KeyError: '연령대'

In [461]:
#72번
data[(data['측정나이'] < 60) & (data['측정나이'] >= 50)]['신장 : cm'].mean()
#73번
def check(x):
    ex = int(x/10)*10
    return ex
data['연령대'] = data['측정나이'].apply(check)
data['연령대'].value_counts()

20    5831
30    2660
40    1801
50    1769
60    1335
Name: 연령대, dtype: int64

In [462]:
#74번
display(data.groupby(['연령대','등급']).size())

연령대  등급
20   A     1585
     B     1443
     C     1455
     D     1348
30   A      743
     B      697
     C      626
     D      594
40   A      386
     B      428
     C      455
     D      532
50   A      321
     B      410
     C      474
     D      564
60   A      314
     B      371
     C      339
     D      311
dtype: int64

In [463]:
#75번
print(abs(data[(data['등급'] == 'A')&(data['측정회원성별'] == 'M')]['체지방율 : %'].mean()-data[(data['등급'] == 'D')&(data['측정회원성별'] == 'M')]['체지방율 : %'].mean()))
#76번
print(abs(data[(data['등급'] == 'A')&(data['측정회원성별'] == 'F')]['체중 : kg'].mean()-data[(data['등급'] == 'D')&(data['측정회원성별'] == 'F')]['체중 : kg'].mean()))
#77번
data['bmi'] = data['체중 : kg']/pow(data['신장 : cm']/100,2)
print(data[data['측정회원성별'] == 'M']['bmi'].mean())
#78번
print(data[data['체지방율 : %'] > data['bmi']]['체중 : kg'].mean())
#79번
print(data[data['측정회원성별'] == 'M']['악력D : kg'].mean() - data[data['측정회원성별'] == 'F']['악력D : kg'].mean())
#80번
print(abs(data[data['측정회원성별'] == 'M']['교차윗몸일으키기 : 회'].mean() - data[data['측정회원성별'] == 'F']['교차윗몸일으키기 : 회'].mean()))

7.932086486137521
5.176211590296504
24.46134409819308
61.7408806392542
17.55954185047464
14.243156833157627

In [464]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv'
data = pd.read_csv(url)

In [465]:
data.info()
data.describe()
data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   object
 1   이화동강수   8784 non-null   float64
 2   이화동기온   8784 non-null   float64
 3   수영동강수   8784 non-null   float64
 4   수영동기온   8784 non-null   float64
dtypes: float64(4), object(1)
memory usage: 343.2+ KB

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [489]:
#81번
data.time = pd.to_datetime(data.time)
data.head(5)
mon = [6,7,8]
target = data[data['time'].dt.month.isin(mon)]
ans = target[target['이화동기온'] > target['수영동기온']].time.dt.hour
len(ans)

1415

In [497]:
print(data[data['이화동강수'] == data['이화동강수'].max()].time)
print(data[data['수영동강수'] == data['수영동강수'].max()].time)

6561   2020-09-30 09:00:00
Name: time, dtype: datetime64[ns]
4908   2020-07-23 12:00:00
Name: time, dtype: datetime64[ns]

In [498]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv'
data = pd.read_csv(url)

In [499]:
data.info()
data.describe()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        7999 non-null   int64
 1   CustomerId       7999 non-null   int64
 2   Surname          7999 non-null   object
 3   CreditScore      7999 non-null   int64
 4   Geography        7999 non-null   object
 5   Gender           7999 non-null   object
 6   Age              7999 non-null   int64
 7   Tenure           7999 non-null   int64
 8   Balance          7999 non-null   float64
 9   NumOfProducts    7999 non-null   int64
 10  HasCrCard        7999 non-null   int64
 11  IsActiveMember   7999 non-null   int64
 12  EstimatedSalary  7999 non-null   float64
 13  Exited           7999 non-null   int64
dtypes: float64(2), int64(9), object(3)
memory usage: 875.0+ KB

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

In [532]:
#83번
ans = (data[(data['Exited'] == 1) & (data['Gender'] == 'Male')].Geography.value_counts())
#print(ans)
print(ans.index[0])
print(ans[0])
#84번
print(round(data[(data['HasCrCard'] == 1) & (data['IsActiveMember'] == 1)].Age.mean(),4))
#85번
print(round(data[data['Balance'] >= data['Balance'].median()].CreditScore.std(),3))

Germany
287
39.6102
97.295

In [535]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv'
data = pd.read_csv(url)

In [537]:
data.info()
data.describe()

data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   성별코드         44553 non-null  object
 1   연령대코드(5세단위)  44553 non-null  int64
 2   신장(5Cm단위)    44553 non-null  int64
 3   체중(5Kg단위)    44553 non-null  int64
 4   허리둘레         44553 non-null  float64
 5   시력(좌)        44553 non-null  float64
 6   시력(우)        44553 non-null  float64
 7   청력(좌)        44553 non-null  float64
 8   청력(우)        44553 non-null  float64
 9   수축기혈압        44553 non-null  float64
 10  이완기혈압        44553 non-null  float64
 11  식전혈당(공복혈당)   44553 non-null  float64
 12  총콜레스테롤       44553 non-null  float64
 13  트리글리세라이드     44553 non-null  float64
 14  HDL콜레스테롤     44553 non-null  float64
 15  LDL콜레스테롤     44553 non-null  float64
 16  혈색소          44553 non-null  float64
 17  요단백          44553 non-null  float64
 18  혈청크레아티닌      44553 non-null  float64
 19  (혈청지오티)AST   44553 non-null  float64
 20  (혈청지오티)ALT   44553 non-null  float64
 21  감마지티피        44553 non-null  float64
 22  흡연상태         44553 non-null  int64
 23  구강검진수검여부     44553 non-null  object
 24  치아우식증유무      44553 non-null  float64
 25  치석           44553 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 8.8+ MB

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진수검여부,치아우식증유무,치석
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

In [542]:
data['혈압차'] = data['수축기혈압'] - data['이완기혈압']

In [563]:
print(data.groupby(['연령대코드(5세단위)'])['혈압차'].var().sort_values(ascending = False).index[4])

60

In [564]:
data

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진수검여부,치아우식증유무,치석,혈압차
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y,45.0
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y,32.0
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N,44.0
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y,44.0
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44548,F,60,145,50,87.0,1.0,1.0,1.0,1.0,140.0,...,1.0,0.5,24.0,32.0,15.0,0,Y,1.0,Y,55.0
44549,M,40,175,75,88.0,1.5,1.2,1.0,1.0,139.0,...,1.0,0.8,62.0,106.0,49.0,1,Y,0.0,Y,53.0
44550,F,60,150,55,82.0,0.9,0.9,1.0,1.0,124.0,...,1.0,0.5,38.0,34.0,26.0,0,Y,0.0,Y,39.0
44551,M,40,170,50,69.0,0.4,1.2,1.0,1.0,117.0,...,1.0,0.9,22.0,17.0,55.0,1,Y,0.0,N,44.0
44552,F,40,155,50,72.5,1.0,1.0,1.0,1.0,109.0,...,1.0,0.6,16.0,10.0,7.0,0,Y,0.0,N,41.0

In [565]:
data.columns

Index(['성별코드', '연령대코드(5세단위)', '신장(5Cm단위)', '체중(5Kg단위)', '허리둘레', '시력(좌)',
       '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤',
       '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌',
       '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태', '구강검진수검여부', '치아우식증유무',
       '치석', '혈압차'],
      dtype='object')

In [570]:
data['WHtR'] = data['허리둘레'] / data['신장(5Cm단위)']
print(data['WHtR'].min())
print(data['WHtR'].max())

0.31875
0.798125

In [584]:
data['비만여부'] = (data['WHtR'] >= 0.58)
data.성별코드.unique()
total = len(data[data['비만여부'] == True])
men = len(data[(data['비만여부'] == True) & (data['성별코드'] == 'M')])

In [586]:
print(men/(total-men))

1.1693877551020408

In [587]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv'
data = pd.read_csv(url)

In [589]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304887 entries, 0 to 304886
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    304887 non-null  int64
 1   Gender                304887 non-null  object
 2   Age                   304887 non-null  int64
 3   Driving_License       304887 non-null  int64
 4   Region_Code           304887 non-null  float64
 5   Previously_Insured    304887 non-null  int64
 6   Vehicle_Age           304887 non-null  object
 7   Vehicle_Damage        304887 non-null  object
 8   Annual_Premium        304887 non-null  float64
 9   Policy_Sales_Channel  304887 non-null  float64
 10  Vintage               304887 non-null  int64
 11  Response              304887 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 27.9+ MB

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000
mean,190603.266174,38.828304,0.997898,26.382650,0.458258,30576.579598,112.044954,154.319466,0.122563
std,110023.298778,15.504898,0.045804,13.236626,0.498255,17265.678980,54.198329,83.625500,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95239.500000,25.000000,1.000000,15.000000,0.000000,24414.500000,29.000000,82.000000,0.000000
50%,190666.000000,36.000000,1.000000,28.000000,0.000000,31663.000000,133.000000,154.000000,0.000000
75%,285948.500000,49.000000,1.000000,35.000000,1.000000,39410.000000,152.000000,227.000000,0.000000
max,381108.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

In [593]:
data.columns
data.head(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

In [598]:
print(data[(data['Vehicle_Age'] ==  '> 2 Years') & (data['Annual_Premium'] >= data['Annual_Premium'].median())].Vintage.mean())

154.43647182359118

In [608]:
display(pd.DataFrame(data.groupby(['Vehicle_Age','Gender']).Annual_Premium.mean().unstack()))

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

In [610]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv'
data = pd.read_csv(url)

In [620]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB
None

In [622]:
display(data.describe())

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [619]:
print(data.isnull().sum())

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [617]:

print(data.columns)

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [616]:
display(data.head(5))

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [645]:
data.groupby(['price_range','n_cores']).size().sort_values().groupby(level=0).tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

In [661]:
result = data[data['price_range'] == 3].corr().unstack()
result = result[result != 1]
result = result[result != 'NaN']
result = result.dropna()
result = result.sort_values()[::-1]

In [672]:
print(result.index[1])
print(result.iloc[1])

('pc', 'fc')
0.635165983662283

In [673]:
cordf = data.loc[data['price_range']==3].corr().unstack().sort_values(ascending=False)
answer  = cordf.loc[cordf!=1].reset_index().iloc[1]
print(answer)

level_0          pc
level_1          fc
0          0.635166
Name: 1, dtype: object

In [674]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv'
data = pd.read_csv(url)

In [675]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83123 entries, 0 to 83122
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 83123 non-null  int64
 1   Gender                             83123 non-null  object
 2   Customer Type                      83123 non-null  object
 3   Age                                83123 non-null  int64
 4   Type of Travel                     83123 non-null  object
 5   Class                              83123 non-null  object
 6   Flight Distance                    83123 non-null  int64
 7   Inflight wifi service              83123 non-null  int64
 8   Departure/Arrival time convenient  83123 non-null  int64
 9   Ease of Online booking             83123 non-null  int64
 10  Gate location                      83123 non-null  int64
 11  Food and drink                     83123 non-null  int64
 12  Online boarding                    83123 non-null  int64
 13  Seat comfort                       83123 non-null  int64
 14  Inflight entertainment             83123 non-null  int64
 15  On-board service                   83123 non-null  int64
 16  Leg room service                   83123 non-null  int64
 17  Baggage handling                   83123 non-null  int64
 18  Checkin service                    83123 non-null  int64
 19  Inflight service                   83123 non-null  int64
 20  Cleanliness                        83123 non-null  int64
 21  Departure Delay in Minutes         83123 non-null  int64
 22  Arrival Delay in Minutes           82867 non-null  float64
 23  satisfaction                       83123 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 15.2+ MB

In [678]:
data.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.00000,83123.000000,82867.000000
mean,64967.466610,39.360249,1191.164455,2.729545,3.060296,2.757612,2.978405,3.204721,3.252060,3.440588,3.359660,3.382060,3.351299,3.632641,3.302516,3.642686,3.28690,14.777763,15.132477
std,37472.601456,15.102492,997.171944,1.327213,1.523947,1.398630,1.277390,1.330112,1.349006,1.319980,1.332698,1.287719,1.315613,1.180139,1.262015,1.175697,1.31147,37.904165,38.396170
min,2.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,32511.500000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.00000,0.000000,0.000000
50%,64981.000000,40.000000,846.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.00000,0.000000,0.000000
75%,97437.000000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.00000,12.000000,13.000000
max,129879.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,1592.000000,1584.000000

In [680]:
data.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [681]:
data.head(5)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

In [703]:
target = data[data['Arrival Delay in Minutes'].isnull()]
target = target.groupby('Class').satisfaction.value_counts().unstack()
print(target[target['satisfied'] > target['neutral or dissatisfied']])

satisfaction  neutral or dissatisfied  satisfied
Class
Business                           36         76

In [704]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv'
data = pd.read_csv(url)

In [705]:
data.head(5)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

In [706]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2225 non-null   float64
 1   Hardness         2620 non-null   float64
 2   Solids           2620 non-null   float64
 3   Chloramines      2620 non-null   float64
 4   Sulfate          2003 non-null   float64
 5   Conductivity     2620 non-null   float64
 6   Organic_carbon   2620 non-null   float64
 7   Trihalomethanes  2488 non-null   float64
 8   Turbidity        2620 non-null   float64
 9   Potability       2620 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 204.8 KB

In [720]:
data2 = data.dropna().reset_index()
data2[data2['ph'] <= 6.043360083711829].ph.mean()

5.096414107778484

In [724]:
data2.ph.describe()

count    1613.000000
mean        7.068415
std         1.587913
min         0.227499
25%         6.043360
50%         7.016836
75%         8.054886
max        14.000000
Name: ph, dtype: float64

In [725]:
target = data['ph'].dropna()
answer =target.loc[target <= target.quantile(0.25)].mean()
print(answer)

5.057093462441731

In [726]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv'
data = pd.read_csv(url)

In [738]:
yes = data[data['smoker'] == 'yes'].charges.quantile(0.9)
no = data[data['smoker'] != 'yes'].charges.quantile(0.9)

a = data[(data['smoker'] == 'yes') & (data['charges'] >= yes)].charges.mean()
b = data[(data['smoker'] != 'yes') & (data['charges'] >= no)].charges.mean()
print(abs(a-b))

29297.954548156144

In [739]:
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv')

In [740]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [742]:
data.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

In [756]:
data.bedrooms.value_counts()
room_price = data[data['bedrooms'] == 3].price
per10 = room_price.quantile(0.9)
per90 = room_price.quantile(0.1)
print(abs(per10-per90))

505500.0

In [781]:
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv')

In [782]:
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87
...,...,...,...,...,...,...,...,...,...
395,47,329,114,5,4.0,5.0,9.30,1,0.86
396,14,307,109,3,4.0,3.0,8.00,1,0.62
397,28,298,98,2,1.5,2.5,7.50,1,0.44
398,149,339,116,4,4.0,3.5,9.80,1,0.96
399,470,326,114,4,4.0,3.5,9.16,1,0.86

In [808]:
from sklearn.ensemble import RandomForestRegressor
data1 = data.iloc[:,1:]
data1
y = data1.iloc[:,-1]
x = data1.iloc[:,:-1]
model = RandomForestRegressor()
model.fit(x,y)
result=pd.DataFrame({'importance' : model.feature_importances_},x.columns).sort_values('importance')
display(result)

                   importance
Research             0.007614
University Rating    0.013190
SOP                  0.024977
LOR                  0.025452
TOEFL Score          0.032841
GRE Score            0.077909
CGPA                 0.818017

In [810]:
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv')
data.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

In [811]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1279 non-null   float64
 1   volatile acidity      1279 non-null   float64
 2   citric acid           1279 non-null   float64
 3   residual sugar        1279 non-null   float64
 4   chlorides             1279 non-null   float64
 5   free sulfur dioxide   1279 non-null   float64
 6   total sulfur dioxide  1279 non-null   float64
 7   density               1279 non-null   float64
 8   pH                    1279 non-null   float64
 9   sulphates             1279 non-null   float64
 10  alcohol               1279 non-null   float64
 11  quality               1279 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 120.0 KB

In [813]:
g3 = data[data['quality'] == 3].std()
g8 = data[data['quality'] == 8].std()

In [820]:
std_list = abs(g3-g8)
std_list.sort_values().index[-1]

'total sulfur dioxide'

In [822]:
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv')
data.head(5)

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

In [837]:
print(data['Sex'].unique())
target = data[data['Sex'] == 'M']
target['age_type'] = (target['Age']//10)*10

['F' 'M']

C:\Users\user\AppData\Local\Temp\ipykernel_21128\4045528679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target['age_type'] = (target['Age']//10)*10

In [848]:
display(pd.DataFrame(target.groupby('age_type').Na_to_K.mean()))

            Na_to_K
age_type
10        13.627000
20        18.260769
30        15.244143
40        13.897273
50        14.811273
60        14.284308
70        11.363857

In [849]:
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv')

In [871]:
a = pd.DataFrame(data.groupby('Risk').mean()[['Score_A','Score_B']])
print(a)

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

C:\Users\user\AppData\Local\Temp\ipykernel_21128\231832130.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  a = pd.DataFrame(data.groupby('Risk').mean()[['Score_A','Score_B']])

In [872]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
data.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

In [899]:
ans = data.groupby('pose').median()
result0 = abs(ans.iloc[0,:] - ans.iloc[1,:]).sort_values(ascending = False).max()
result = abs(ans.iloc[0,:] - ans.iloc[1,:]).sort_values(ascending = False)

In [902]:
result[result == result0].index

Index(['motion_54', 'motion_62'], dtype='object')

In [906]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
data.head()

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

In [907]:
data.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType',
       'tax(£)', 'mpg', 'engineSize'],
      dtype='object')

In [912]:
a,b,c = data.groupby('model').size().sort_values(ascending = False).index[0:3]

In [918]:
print(data[data['model'] == a].price.mean(),a)
print(data[data['model'] == b].price.mean(),b)
print(data[data['model'] == c].price.mean(),c)

15805.441372735939  Tucson
7646.137891077637  I10
11651.82175925926  I30

In [919]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

In [920]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [929]:
ex = data.groupby('Outcome').mean().T
ans = abs(ex.iloc[:,0] - ex.iloc[:,1])

In [930]:
ans

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
dtype: float64

In [932]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
data.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [943]:
data['Date'] = pd.to_datetime(data['Date'])
data2 = data[data['Date'].dt.month == 5]
data2.groupby(data['Date'].dt.year).mean()['Open']

C:\Users\user\AppData\Local\Temp\ipykernel_21128\1125481928.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data2.groupby(data['Date'].dt.year).mean()['Open']

Date
2002      1.155833
2003      1.641497
2004      4.261143
2005      1.951905
2006      4.163571
2007      3.159351
2008      4.435034
2009      5.790571
2010     14.417071
2011     34.650272
2012     10.523247
2013     31.936429
2014     51.121292
2015     85.057429
2016     92.705715
2017    158.255455
2018    329.779541
2019    359.664548
2020    433.880499
2021    496.923996
Name: Open, dtype: float64

In [944]:
data = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [945]:
data.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [948]:
round(data[data['Tm'] == 'TOR'].Age.mean(),4)

24.8696

In [956]:
target = data[data.Age==data.Age.min()]
print(target.Pos.value_counts().index[0])

SG

In [989]:
data['name'] = data.Player.str.split()
def first_name(x):
    ex = x[0]
    return(ex)
data['first'] = data['name'].apply(first_name)

In [999]:
data['first'].value_counts().head(1)

Justin    14
Name: first, dtype: int64

In [1002]:
data.groupby('Pos').PTS.mean().sort_values(ascending = True)

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

In [1014]:
data.groupby('Tm').G.max().mean()

77.51612903225806

In [1022]:
target = data[(data['Tm'] == 'MIA') & (data['Pos'].isin(['PF','C']))].MP.mean()
target

16.7875

In [1029]:
a = data.G.mean()*1.5

data[data['G'] >= a]['3P'].mean()

1.3853658536585365

In [1031]:
print(data[data['Age'] >= data['Age'].mean()].G.mean() - data[data['Age'] < data['Age'].mean()].G.mean())

3.787674551781862

In [1043]:
print(data.groupby('Tm').mean().Age.sort_values().index[0])

MEM

C:\Users\user\AppData\Local\Temp\ipykernel_21128\3477104922.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(data.groupby('Tm').mean().Age.sort_values().index[0])

In [1047]:
data.groupby('Pos').mean().MP

C:\Users\user\AppData\Local\Temp\ipykernel_21128\3073081278.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Pos').mean().MP

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64